.navbar-brand {
  background: #fff;
  border-bottom: 3px solid #0397BB;
  height: 77px;
  width: 100%;
  margin: 0 0 2em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  color: #C5037E;
  text-transform: uppercase;
}

.btn-outline-primary {
    color: #0397BB;
    border-color: #0397BB;
}

.btn-outline-danger{
  color: #C5037E;
  background-color: #fff;
  border-color: #C5037E;
}

.btn-check:active + .btn-outline-danger, .btn-check:checked + .btn-outline-danger, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show, .btn-outline-danger:active, .btn-outline-danger:hover{
  color: #fff;
  background-color: #C5037E;
  border-color: #C5037E;
}

.btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
    box-shadow: 0 0 0 .25rem rgba(197,3,126,.5);
}

.form-control:focus, .form-select:focus, .btn-outline-primary:focus, .btn-primary:focus {
    border-color: #0397BB;
    box-shadow: 0 0 0 .25rem rgba(3,151,187,.25);
}

.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:hover, .btn-outline-primary:active, .btn-outline-primary:hover{
  color: #fff;
  background-color: #0397BB;
  border-color: #0397BB;
}

.form-label {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #888;
}
.btn {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


.hide {
	display: none;
}

img {
	max-width: 100%;
}
