
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *  PRINT                                                                  *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media print {
@page {
	size: auto;
	padding:0 !important;
	margin:0.5cm  !important;
	}

html, body {
	width:100%;
	margin: 0  !important;
	padding:0 !important;
}
p.festival > strong {
    font-size:17px !important;
	margin: -0.5cm 0 0 0 !important;
}
h2 {
margin: 15px 0 15px !important;
font-size:19px !important;
	margin:0 !important;
}

.main-container p.room
{
	font-size:14px !important;
	margin:11px 0 !important;
}

.main-container  ul{
	margin: 5px 0 !important;
}

.main-container  li
{
	font-size:14px !important;
	margin-bottom:2px!important;
	line-height:15px !important;
}

.main-container  li strong{
	font-size:16px !important;
	}

col{
width:48%;
margin-right:2%;
}

col.last{
width:46%;
margin-right:0;
}

.letterhead
{
	width:100% !important;
	font-size:1.12rem !important;
}

footer {
	margin-top: -2.7cm !important;
}
}
